* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: bisque;
}

header {
    height: 200px;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    background-color: orchid;
}

#header-img {
    border: double white 7px;
    margin: 40px 80px;
    

}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 10px;
    top: 30px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

.header-nav a {
    display: inline-block;
    text-decoration: none;
    padding: 0px 100px;
    color: black;
}

.content-header {
    border-bottom: black solid 5px;
}

h2 {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 45%;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .60em;
    position: relative;  
}

#about {
    margin: 60px 38px 20px 480px;
    padding-top: 32px;
    text-align: justify;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#about::first-line {
    line-height: 35px;
    font-size: 31px;
    font-family: Tilt Warp;
}

#projects {
    background-color: #b8e9f2;
    padding-bottom: 18px;

}
#projects div:hover {
    transform: scale(1.1);
}

h3 {
    font-size: 31px;
    line-height: 100px;
    font-family: Tilt Warp;
    margin: 100px 38px 20px 80px; 
}

#projects img {
    border: white double 7px;
}


#horiseon, #place-holder-1, #place-holder-2 {
    margin: -20px 0px 10px 80px;
}



 
footer {
    display: flex;
    /* justify-content is centering list items on the y-axis */
    justify-content: center;
    
}
footer #contact-info {
    display: flex;
    /* align-items is centering all list items on center x-axis */
    padding-bottom: 20px;
    align-items: center;
}  

h4 {
    font-family: Tilt Warp;
    font-size: 25px;
    text-decoration: none;
}


footer #contact-info li {
    display: flex;
    padding: 20px 50px 20px 50px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
} 

footer #contact-info a {
    text-decoration: underline;
    padding: 20px 50px 20px 50px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.title-box {
    background-color: orchid;
    color: white;
    height: 50px;
    width: 160px;
    position: relative;
    top: -101px;
    left: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: light;
    padding: 10px;
    border: black solid 1px;
}

#projects div::first-line {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

#projects div a {
    text-decoration: none;
}

@media screen and (min-width:870px) and (max-width:1250px) {
    .header-nav {
        display:block;
    } 
    .content-header h2 {
        display: flex;
        right: 3%;  
    }

    #header-img {
        height: 300px;
        width: 225px;
    }

    #about {
        margin: 60px 38px 20px 80px;
    }

    footer #contact-info li {
        padding: 5px 15px 5px 15px;
    }

}

@media screen and (max-width:869px) {
    .header-nav {
        display: block;
        right: 30%;
    }
    .content-header h2 {
        font-size: 30px;
        margin-left: 25%;
   }

    #header-img {
        height: 150px;
        width: 100px;
        position: relative;
        top: 400px;
        left: 3%;
    }

    #about {
        margin-top: 30px;
        position: relative;
        left: -200px;
        color:purple;
    }

    #projects img {
        height: 150px;
        width: 300px;
    }
    footer #contact-info li {
        padding: 0px 3px 1px 3px;
    }
    .title-box {
        height: auto;
        width: 100px;
        position: relative;
        top: -72px;
    }
}

