body {
    width: auto;
    margin: 0px;
    background-color: bisque;
}

header {
    width: auto;
    height: 200px;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    background-color: orchid;
}
navbar {
    margin: 0px;
    display: flex;
    position: relative;
    align-items: flex-start;
}
#header-img {
    border: double white 7px;
    margin: 40px 80px;
    

}
.header-nav {
    display: flex;
    position: absolute;
    top: 0px;
    right: 10px;
}

.header-nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

.header-nav a {
    resize: none;
    width: 100px;
    text-decoration: none;
    padding: 0px 100px;
    color: black;
}

.content-header {
    border-bottom: black solid 5px;
}

.content-header h2 {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 45%;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .60em;
    position: relative;  
    
}

.content {
    margin: 60px 38px 20px 480px;
    padding-top: 32px;
    text-align: justify;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.content::first-line {
    line-height: 35px;
    font-size: 31px;
    font-family: Tilt Warp;
}

#projects {
    background-color: #b8e9f2;
    padding-bottom: 18px;

}

h3 {
    font-size: 31px;
    line-height: 100px;
    font-family: Tilt Warp;
    margin: 100px 38px 20px 80px; 
}

#projects img {
    border: white double 7px;
}


#horiseon, #place-holder-1, #place-holder-2 {
    margin: -20px 0px 10px 80px;
}

#projects div:hover {
    transform: scale(1.1);
}

 
footer {
    display: flex;
    /* justify-content is centering list items on the y-axis */
    justify-content: center;
    
}
footer #contact-info ul {
    display: flex;
    /* align-items is centering all list items on center x-axis */
    padding-bottom: 20px;
    align-items: center;
}    

footer #contact-info ul li {
    display: flex;
    padding: 20px 50px 20px 50px;

}

footer #contact-info ul li a {
    text-decoration: underline;
    padding: 20px 50px 20px 50px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#horiseon-title, #airbnb-title, #google-title {
    background-color: orchid;
    color: white;
    height: 50px;
    width: 160px;
    position: relative;
    top: -101px;
    left: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: light;
    padding: 10px;
    border: black solid 1px;
}

#projects div::first-line {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px
}

#projects div a {
    text-decoration: none;

}

h4 {
    font-family: Tilt Warp;
    font-size: 25px;
}

@media screen and (max-width:768px) {
    .header-nav ul li a {
        margin-right: 110px;
        padding: 10px;
        line-height: 1.5;
    }

    .header-nav ul {
        display: block;
        margin: 0 0 0 0;
    
    }
    .content-header h2 {
        color: black;  
        font-size: 30px; 
        margin-left: 500px; 
    }

    #horiseon img {
        height: 300px;
        width: 600px;
    }
    #place-holder-1 img,
    #place-holder-2 img {
        height: 250px;
        width: 500px;
    }   
    footer #contact-info ul li {
        padding: 2px 2px 2px 2px;
    }
    .content {
        margin: 10px 30px 0px 480px;
        padding-bottom: 0px;
    }
}