body {
    width: auto;
    margin: 0px;
    background-color: bisque;
}

header {
    width: auto;
    height: 200px;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    background-color: orchid;
}
navbar {
    margin: 0px;
    display: flex;
    position: relative;
    align-items: flex-start;
}
.header-img {
    border: double greenyellow 7px;
    margin: 40px 80px;
}
.header-nav {
    display: flex;
    position: fixed;
    top: 0px;
    right: 10px;
}

.header-nav ul {
    display: flex;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

a {
    resize: none;
    width: 100px;
    text-decoration: none;
    padding: 0px 100px;
    color: black;
}